{% macro display(piches) %}
<div class="container-fluid">
		<div class="row">
				{% if piches %}
					{% for category in piches %}
					<div class="col-lg-12 m-2" >
						<div class="thumbnail " id="carded" style="background-color: #537895;
						background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
						
						  !important">
							<h5 class="card-header text-center text-white fw-bolder">{{category.title}}</h5>
							<div class="card-body text-white text-center">
									<p>{{category.post}}</p>
									<p class="text-center lead"> Category: {{category.category}}</p>
									<footer class="blockquote-footer text-center" style="color:cyan;"> Posted by: {{category.user.username}}</footer>
								<div><span class="foot" >{{category.comment.count()}} Comments</span> 
									<span class="foot" > <a href="{{url_for('main.like',id = category.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;color: cyan"></i></a> {{category.upvote.count()}}</span>
									
									
									<span class="foot"> <a href="{{url_for('main.dislike',id = category.id)}}"> <i class="fa fa-thumbs-down" style="color:yellow;"></i> {{category.downvote.count()}}</a></span></div>
			
								<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-info btn-sm"> Comment</a>
							</div>
						</div>
					</div>
					
					{% endfor %}
				{% else %}
				<div class="card w-90 mb-3">
					<div class="card-body">
				
						<p class="card-title">No posts</p>
					</div>
				</div>
				{% endif %}
			</div>
</div>
{% endmacro %}
